body{
	font-family: 'Open Sans',Arial;
	font-size:14px;
	color:#fff;
	background-color: #8981E4;
}
h1.amaran-h1 {
	font-family: 'Sonsie One', cursive;
	text-align: center;
	font-size:3.750em;
	padding:50px 50px;
	padding-bottom: 0;
	color:#fff;
	text-shadow:4px 3px 1px rgba(19, 19, 19, 0.37);
}
.lead {
	text-align: center;
}
#nav {
	padding:0;
	display: block;
	margin:50px auto;
	list-style:none;
	bottom:20px;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}
#nav li {
	display:inline-block;
}
#nav li span {
	font-size:18px;
	margin-right:8px;
}
#nav li a {
	font-family: "Roboto","Open Sans",Arial;
	font-size:16px;
	color:#F7F7F7;
	text-decoration:none;
	text-align: center;
	display: block;
	background:rgb(107, 100, 189);
	padding:5px 15px;
	border-radius: 3px;	
}


#nav li a:hover{
	color:rgb(107, 100, 189);;
	background:#fff;
}
.overview #nav li a{
	background: #9F2222;
}
.overview #nav li a:hover{
	color:#9F2222;
	background: #fff;
}
.example #nav li a{	
	background: #34495e;
}
.example #nav li a:hover{	
	background: #fff;
	color:#34495e;
}