html {
    height: 100%;
}
body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    min-height: 100%;;
    font-size: 14px;
    overflow-y:scroll;
    background: radial-gradient(ellipse at 50% 30%,#f1cf98 1%,#e6aa3e 70%);
	position: relative;
}
p{
    margin: 0 0 24px;
}
a,a:hover,a:focus,a:visited {
    text-decoration: none;
}
.container {
	margin:0 auto;
}
a#logo {
    font-size:40px;
    color: rgba(0, 0, 0, 0.7);
    font-family: 'Pacifico', cursive;
}
header[role="banner"]{
    padding-top:20px
}
nav#main-menu {
    float:right;
    padding-top:18px;
}
nav#main-menu ul{
    margin:0;
    padding:0;
    list-style:none;
}
nav#main-menu ul li{
    display: inline-block;
    margin-left: 20px;
}
nav#main-menu ul li a{
    color: rgba(0, 0, 0, 0.7);
    font-weight: bold;
}
nav#main-menu ul li a:hover{
    color: #222;
}
.nice {
    color:#fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    font-family: 'Pacifico', cursive;
    font-weight: 300
}
#main-wrapper {
    padding:20px 0;
    font-size:18px;
}
#box {
	width: 600px;
	min-height: 400px;
	position: relative;
	margin: 100px auto;
}
#start {
	background: rgba(0, 0, 0, 0.7);
	padding:5px 15px;
	border:0;
	color:#fff;
	display: block;
	margin:0 auto;
	border-radius: 4px;
	outline: 0
}
#start:hover {
	background: rgba(0, 0, 0, 1);
}
#ex {
	padding:30px 0 0 0;
}
#ex p {
	margin: 0 0 12px;
}
#pre {
	background: rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	padding:10px 20px;
	font-family: Monaco, Consolas, Inconsolata, 'Deja Vu Sans Mono', 'Droid Sans Mono', 'Andale Mono', 'Lucida Console', monospace;
	font-size:16px;
}
pre{
	display: block;
	padding: 0;
	margin: 0 0 10px;
	font-size: 16px;
	line-height: 1.42857143;
	color: #333;
	word-break: break-all;
	word-wrap: break-word;
	background-color:transparent;
	border:none;
	border-radius: 4px;
	font-family: inherit;
	margin-bottom:0;
}